<a href="https://colab.research.google.com/github/Nadia-wh/-PRO-C121/blob/main/PRO_C129_Teacher_Boilerplate_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Merge Scraped Data

1.  **updated_scraped_data.csv** : ["name", "light_years_from_earth", "planet_mass", "stellar_magnitude", "discovery_date", "hyperlink"]
2.   **new_scraped_data.csv** : ["planet_type","discovery_date", "mass", "planet_radius", "orbital_radius", "orbital_period", "eccentricity", "detection_method"]

In [ ]:
!git clone https://github.com/procodingclass/PRO-NASA-Exoplanet-Scraped-Data

Cloning into 'PRO-NASA-Exoplanet-Scraped-Data'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 23 (delta 8), reused 15 (delta 3), pack-reused 0
Unpacking objects: 100% (23/23), done.

In [ ]:
import pandas as pd

In [ ]:
planet_df_1 = pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/updated_scraped_data.csv')
new_planet_df_1 = pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/new_scraped_data.csv')

In [ ]:
planet_df_1.head()

,id,name,light_years_from_earth,planet_mass,stellar_magnitude,discovery_date,hyperlink
0,0,11 Comae Berenices b,304.0,19.4 Jupiters,4.72307,2007,https://exoplanets.nasa.gov/exoplanet-catalog/...
1,1,11 Ursae Minoris b,409.0,14.74 Jupiters,5.01300,2009,https://exoplanets.nasa.gov/exoplanet-catalog/...
2,2,14 Andromedae b,246.0,4.8 Jupiters,5.23133,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...
3,3,14 Herculis b,58.0,4.66 Jupiters,6.61935,2002,https://exoplanets.nasa.gov/exoplanet-catalog/...
4,4,16 Cygni B b,69.0,1.78 Jupiters,6.21500,1996,https://exoplanets.nasa.gov/exoplanet-catalog/...

In [ ]:
new_planet_df_1.head()

,id,planet_type,discovery_date,mass,planet_radius,orbital_radius,orbital_period,eccentricity,detection_method
0,0,Gas Giant,2007,19.4 Jupiters,1.08 x Jupiter,1.29 AU,326 days,0.23,NaN
1,1,Gas Giant,2009,14.74 Jupiters,1.09 x Jupiter,1.53 AU,1.4 years,0.08,NaN
2,2,Gas Giant,2008,4.8 Jupiters,1.15 x Jupiter,0.83 AU,185.8 days,0.0,NaN
3,3,Gas Giant,2002,4.66 Jupiters,1.15 x Jupiter,2.93 AU,4.9 years,0.37,NaN
4,4,Gas Giant,1996,1.78 Jupiters,1.2 x Jupiter,1.66 AU,2.2 years,0.68,NaN